---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

@import "colors", "easing", "nav-icon", "masthead", "fullscreen-menu";

$base-font-family : 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', 'Open Sans', Arial, sans-serif;
$base-font-size   :   16px;
$base-font-weight : 300;
$small-font-size  :  $base-font-size * 0.875;
$base-line-height : 1.5;

* { 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: $text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}

::selection {
	background: $text-color;
	color: #fff;
}

h3 {
	margin: .5em 0;
	font-size: 25px;
	font-weight: 300;
	text-align: left;
}

a {
	color: $text-color;
	text-decoration: none;
	transition: color .2s $easing, transform .6s $easing;
	outline: 0;
	&:hover {
		color: $brand-color;
		text-decoration: none;
	}
}

b {
	font-family: 'Open Sans';
	line-height: 0;
	font-weight: 700;
	font-size: 1.3em;
	padding-left: .1em;
}

.centered {
	display: table;
	&>:first-child {
		display: table-cell;
		vertical-align: middle;
	}
}

#about {
	position: relative;
	min-height: 500px;
	padding: 200px 100px;
	background: $brand-color;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	overflow: hidden;
	&>div { position: relative }

	&::before {
		opacity: 0.9;
		content: '';
		display: block;
		position: absolute;
		top: 50px;
		right: 50px;
		width: 100%;
		height: 100%;
		background-size: auto 150%;
		background-repeat: no-repeat;
		background-position: right top;
		background-image: url(../static/portrait4.png);
		-webkit-filter: contrast(0.7);
		   -moz-filter: contrast(0.7);
				filter: contrast(0.7);
	}
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		float: left;
		width: 50%;
		a {
			display: block;
			width: 100%;
			height: 400px;
			padding: 3em 2em;
			background: $text-color;
			color: #fff;
		}
		h2 {
			margin: 0;
			padding: 0;
			line-height: 1em;
			font-weight: 700;
			font-size: 50px;
			font-family: 'Playfair Display', serif;
		}
	}
}

