---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';
@import "nav-icon";

$base-font-family : 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', 'Open Sans', Arial, sans-serif;
$base-font-size   :   16px;
$base-font-weight : 300;
$small-font-size  :  $base-font-size * 0.875;
$base-line-height : 1.5;

$brand-color: rgb(168, 86, 239);
$brand-color: rgb(76, 214, 188);
$brand-color: rgb(75, 181, 234); // blue
$brand-color: rgb(77, 214, 189); // torquois
$brand-color: rgb(250, 113, 94); // tomatoe
$brand-color: rgb(238, 202, 70); // mustard
$brand-color: rgb(253, 95, 101); // red
$brand-color: #f5263a; // brilliant red
$brand-color: #f3d02c;
$brand-color: #98c4b4;
$brand-color: #19cf8c;
$brand-color: #fec147;
$brand-color: #fc5253; // bright red
// fg #f64028 - bg #e1e1dc

$text-color: #373737;

$easing  : cubic-bezier(.1,.82,.25,1);
$easing2 : cubic-bezier(.24, 2, .27, .26);

* { 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: $text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}

h3 {
	margin: .5em 0;
	font-size: 25px;
	font-weight: 300;
	text-align: left;
}

a {
	color: $text-color;
	text-decoration: none;
	transition: color .2s $easing, transform .6s $easing;
	&:hover {
		color: $brand-color;
		text-decoration: none;
	}
}

b {
	font-family: 'Open Sans';
	line-height: 0;
	font-weight: 700;
	font-size: 1.3em;
	padding-left: .1em;
}

.centered {
	display: table;
	&>:first-child {
		display: table-cell;
		vertical-align: middle }
}

article {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	&>* {
		position: relative;
		width: 50%;
		height: 100%;
		background: #fff }
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding: 3em;
	color: #fff;
	background: $brand-color;
	text-shadow: 0 0 1em $brand-color;

	&>div { position: relative }

	h1 {
		margin: 0;
		padding: 0;
		line-height: .8em;
		letter-spacing: -.02em;
		font-size: 70px;
		font-weight: 700 }

	#connect-icons {
		margin-top: 1em;
		a {
			margin-right: .5em;
			&:hover {
				display: inline-block;
				svg { fill: $text-color }
			}
		}
		svg {
			fill: #fff;
			width: 32px;
		}
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -10vh;
		width: 100vw;
		height: 100%;
		background-size: 80vh;
		background-repeat: no-repeat;
		background-position: right 10vh;
		background-image: url(../static/portrait.png);
		-webkit-filter: contrast(0.7);
		   -moz-filter: contrast(0.7);
		        filter: contrast(0.7);
	}
}

section {
	padding: 3em 10vw;

	&>div>div {
		max-width: 500px;
		margin: 0 auto;
		&>div { text-transform: uppercase }
	}

	h2 {
		margin: 0;
		padding: 0;
		line-height: 1em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 50px;
		font-family: 'Playfair Display', serif;
	}

	h3 {
		display: inline-block;
		a {
			font-weight: 700;
			display: inline-block;
			margin-top: -.3em;
			font-size: .7em;
			vertical-align: middle }
	}

	p {
		margin: 0;
		padding: 0;
		line-height: 1.4em }
}

#fullscreen-menu {
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: $brand-color;
	opacity: 0.95;
	text-align: center;
	font-size: 60px;
	font-weight: 700;
	b {
		font-size: 1em;
		padding-left: 0;
	}
	nav {
		top: 50%;
		width: 100%;
		position: absolute;
		transform: translateY(-50%);
		ul {
			list-style: none;
			li {
				margin: 0;
				a {
					display: block;
					line-height: 120px;
					color: #fff;
					&:hover {
						color: $text-color;
						transform: scale3d(.9,.9,.9);
					}
				}
			}
		}
	}
}

