* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #373737;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
h3 {
  margin: .5em 0;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
}
a {
  color: #373737;
  text-decoration: none;
  transition: color 0.2s cubic-bezier(0.1, 0.82, 0.25, 1);
}
a:hover {
  color: #fc5253;
  text-decoration: none;
}
b {
  font-family: 'Open Sans';
  line-height: 0;
  font-weight: 700;
  font-size: 1.3em;
  padding-left: .1em;
}
.centered {
  display: table;
}
.centered > :first-child {
  display: table-cell;
  vertical-align: middle;
}
article {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
article > * {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 3em;
  color: #fff;
  background: #fc5253;
  text-shadow: 0 0 1em #fc5253;
}
header > div {
  position: relative;
}
header h1 {
  margin: 0;
  padding: 0;
  line-height: .8em;
  letter-spacing: -0.02em;
  font-size: 70px;
  font-weight: 700;
}
header #connect-icons {
  margin-top: 1em;
}
header #connect-icons a {
  margin-right: .5em;
}
header #connect-icons a:hover {
  display: inline-block;
}
header #connect-icons a:hover svg {
  fill: #373737;
}
header #connect-icons svg {
  fill: #fff;
  width: 32px;
}
header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -50px;
  width: 100vw;
  height: 100%;
  background-size: 80vh;
  background-repeat: no-repeat;
  background-position: 65vw 10vh;
  background-image: url(static/portrait.png);
  -webkit-filter: grayscale(1) contrast(0.7);
}
section {
  padding: 3em 10vw;
}
section > div > div {
  max-width: 500px;
  margin: 0 auto;
}
section > div > div > div {
  text-transform: uppercase;
}
section h2 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}
section h3 {
  display: inline-block;
}
section h3 a {
  font-weight: 700;
  display: inline-block;
  margin-top: -0.3em;
  font-size: .7em;
  vertical-align: middle;
}
section p {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
}
