@charset 'UTF-8';

/* `fonts */
@font-face {
	font-family: 'signika';
	font-weight: 300;
	font-style: normal;
	src: url('Signika-Light-webfont.woff') format('woff');
}
@font-face {
	font-family: 'signika';
	font-weight: 700;
	font-style: normal;
	src: url('Signika-Bold-webfont.woff') format('woff');
}
@font-face {
	font-family: 'aachen';
	font-weight: 300;
	font-style: normal;
	src: url('aachen.ttf');
}

h1, h2 {
	margin: 0 auto;
	max-width: 70vw;
	padding: 0 1em;
	line-height: 1.3em;
}
ul { list-style: none; font-weight: normal; }

/* `typography */
.small { font-size: 0.5em; }
.thin { font-weight: normal; }
.big {
	font-size: 50px;
	font-weight: bold;
}
.very-big {
	font-size: 180px;
	font-weight: bold;
}
.uppercase { text-transform: uppercase; }

p:first-child,
p:last-child {
	padding: 0;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

._3d {
	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
/* This is the element on which to apply transformation */
._3d>* {
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

/* `colors */
.dark {
	background-color: #2b242b;
	color: #e3e0e3;
}
.light {
	background-color: #e3e0e3;
	color: #2b242b;
}

body {
	overflow: hidden;
	background: #2b242b;
	color: #e3e0e3;
	padding: 0;
	margin: 0;
	font-family: 'signika', sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.6em;
}

/* `slides */
.slides {
	display: block;
	position: absolute;
	width: 1920px;
	height: 1080px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.slides>li {
	display: none;
	list-style: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.slides>li>* {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.slides>li.active { display: table; }
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* `effects */
.fadein         .x { opacity: 0; }
.fadein.active  .x { -webkit-animation: fadein 0.5s ease-in forwards; }
.fadeout        .y { opacity: 1; }
.fadeout.active .y { -webkit-animation: fadeout 0.5s ease-in forwards; }
.slidein .z1, .slidein .z2 { opacity: 0; }
.slidein.active .z1 {
	-webkit-animation-name: fadein, shift-left;
	-webkit-animation-duration: 1s, 1s;
	-webkit-animation-delay: 0s, 1s;
	-webkit-animation-fill-mode: forwards, forwards;
}
.slidein.active .z2 {
	-webkit-animation-name:fadein, shift-left, shift-left-2;
	-webkit-animation-duration: 1s, 1s;
	-webkit-animation-delay: 1s, 1s;
	-webkit-animation-fill-mode: forwards, forwards;
}

.blurry { -webkit-filter: blur(2px); }
.grayscale { -webkit-filter: grayscale(100%); }

/* `visibility */
.opacity-quarter       { opacity: 0.25; }
.opacity-half          { opacity: 0.50; }
.opacity-three-quarter { opacity: 0.75; }

/* `animations */
.active .x.delay0   { -webkit-animation-delay:    0s;   }
.active .x.delay1   { -webkit-animation-delay:    1s;   }
.active .x.delay2   { -webkit-animation-delay:    2s;   }
.active .x.delay3   { -webkit-animation-delay:    3s;   }
.active .x.speed2   { -webkit-animation-duration: 1s;   }

/*
#slides li:nth-child(?) {
	xbackground: #970741;
	xbackground: #F6075A;
	xbackground: #C80741;
	xbackground: #8e0732;
	xbackground: #d92451;
	xbackground: #232323;
	xbackground: #EDB948;
	xbackground: #F4696B;
}
*/

.slides>li {
	color: #fff;
	background-color: #222;
	background-image: -webkit-radial-gradient(
		center center,
		ellipse cover,
		rgba(0,0,0,0) 0, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 100%
	);
}
.slides>li.active::after {
	background-image: url(noise.png);
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.09;
	z-index: 1;
	mix-blend-mode: multiply;
}
.slides>li.active::before {
	display: none;
}

.slides>li>div::before {
	content: '';
	display: block;
	position: absolute;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
}

#video {
	mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%);
}
video {
	min-width: 100vw;
	min-height: 100vh;
}

#start { background-color: #d34; }

#bwakila .▣ { display: none; }
#bwakila.active .▣ {
	display: block;
	-webkit-animation: zoomin 250ms cubic-bezier(.2,.3,.25,.9) forwards; }
#bwakila div {
	font-family: aachen;
	font-weight: normal;
	font-size: 100px;
	color: black;
	text-transform: uppercase;
	margin-top: 90px; }
#bwakila div.▣::after {
	display: block;
	position: absolute;
	z-index: 1;
	top: -15px;
	left: 0px;
	width: 100%;
	font-family: aachen;
	font-weight: normal;
	text-align: center;
	color: #fff;
	content: 'Bwakila!'; }
	#bwakila div p {
		-webkit-filter: brightness(0%); }
		#bwakila div p img {
			display: block;
			z-index: 0;
			position: relative;
			width: 600px;
			margin: -50px auto 0; }

#alert { background-color: #d34; }
	#alert img { display: none; }
	#alert.active img {
		display: inline-block;
		height: 80vh;
		box-shadow: 10px 0 100px rgba(0,0,0,0.5);
		-webkit-animation: fall-away 500ms ease-in reverse forwards;
	}

#end { background-color: #d34; }

#ballerina { text-shadow: 0 0 10px rgba(0,0,0,0.5); }
#ballerina .cover {
	background-image: url(ballerina.gif);
	opacity: 0.6;
}
#ballerina2 .cover {
	background-image: url(ballerina.gif);
	opacity: 0.6;
}

#tunnel_vision { text-shadow: 0 0 20px rgba(0,0,0,0.6); }
#tunnel_vision .cover {
	background-image: url(tunnel-vision.gif);
	opacity: 0.7;
	mix-blend-mode: multiply;
}

#stephen { text-shadow: 0 0 10px rgba(0,0,0,0.5); }
#stephen .cover {
	background-image: url(wiltshire.jpg);
	opacity: 0.7;
}

#screenshot img {
	height: 90vh;
	box-shadow: 10px 0 100px rgba(0,0,0,0.5);
}
#screenshot.active img { -webkit-animation: pushin 20s cubic-bezier(.2,.3,.25,.9) forwards; }

blockquote {
	line-height: 1.3em;
	background: #d34;
	font-size: 0.9em;
	padding: 2em;
	margin: 0 8vw;
	box-shadow: 10px 0 100px rgba(0,0,0,0.5);
}
.active blockquote { -webkit-animation: fall-away 500ms ease-in reverse forwards; }


#art { background-color: #fff; }
	#art .cover {
		background-image: url(art.jpg);
		background-size: 105% auto;
	}
	#art.active .cover { -webkit-animation: pushin 20s cubic-bezier(.2,.3,.25,.9) forwards; }
#art2 .cover { background-image: url(art2.jpg); }
#art2.active .cover { -webkit-animation: zoomout 20s cubic-bezier(.2,.3,.25,.9) forwards; }

#eye .cover { background-image: url(eye.gif); }
#moores_law .cover {
	background-image: url(gordon.png);
	background-position: center bottom;
	opacity: 0.7;
	mix-blend-mode: multiply;
}
#moores_law.active .cover { -webkit-animation: pushin 20s cubic-bezier(.2,.3,.25,.9) forwards; }

#notification .cover { opacity: 0.4; }

#time_sharing .cover {
	background-image: url(time-sharing.jpg);
	opacity: 0.4;
}
#time_sharing { text-shadow: 0 0 10px rgba(0,0,0,0.5); }

#always_on .cover {
	background-image: url(always-on.jpg);
	opacity: 0.4;
}

#amazon { background: #fff; }
#spotify { background: #80b719; }
#netflix { background: #dc0505; }
#uber img,
#amazon img,
#spotify img,
#netflix img { width: 30vw; }
#uber.active img,
#amazon.active img,
#spotify.active img,
#netflix.active img { -webkit-animation: pushin 10s cubic-bezier(.2,.3,.25,.9) forwards; }
#uber img { width: 20vw; }

#management { text-shadow: 0 0 10px rgba(0,0,0,0.5); }
#management .cover {
	background-image: url(audience.jpg);
	-webkit-animation: pushin 30s cubic-bezier(.2,.3,.25,.9) forwards; 
	opacity: 0.9;
	mix-blend-mode: multiply;
}
#os img  { width: 10vw; }
#platforms img  { width: 10vw; }
#privacy img  {
	height: 40vh;
	-webkit-filter: contrast(0%) brightness(200%);
	vertical-align: middle;
}
#privacy img.user  { height: 20vh; margin-left: 2em; }

#personal .cover {
	background-image: url(clown.jpg);
	opacity: 0.9;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
	mix-blend-mode: multiply;
}

#telephones .cover {
	background-image: url(telephones.jpg);
	opacity: 0.4;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#bikes .cover { 
	background-image: url(steve.jpg);
	opacity: 0.5;
}

#line {
	position: absolute;
	top: 60vh;
	width: 100%;
	height: 5px;
	background: #0378ea;
}
#line::before {
	content: 'Attention';
	position: relative;
	top: -1.6em;
	line-height: 1.6em;
	background: #0378ea;
	padding: 0 0.5em;
	display: inline-block;
}

#nuke { text-shadow: 0 0 30px rgba(0,0,0,0.5); }
#nuke .cover {
	background-image: url(nuke.jpg);
	opacity: 0.5;
	-webkit-animation: zoomout 30s cubic-bezier(.2,.3,.25,.9) forwards; 
}

.slides .red { background-color: #d34; }
.slides .blue { background-color: #0378ea; }

b.red, b.blue {
	display: inline-block;
	padding: 0.3em;
}

.▣ { position: relative; }

@-webkit-keyframes fall-in {
	0%   { -webkit-transform: rotate3d(1,0,0,30deg) translate3d(0px,0px,300px); }
	100% { -webkit-transform: rotate3d(1,0,0,0deg)  translate3d(0px,0px,0px); }
}
@-webkit-keyframes fall-away {
	0%   { -webkit-transform: rotate3d(1,0,0,0deg)  translate3d(0px,0px,0px); }
	100% { -webkit-transform: rotate3d(1,0,0,-20deg) translate3d(0px,-100px,400px); }
}


@-webkit-keyframes fadein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes fadeout {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes zoomout {
	0%   { -webkit-transform: scale(1.3) }
	100% { -webkit-transform: scale(1);  }
}
@-webkit-keyframes zoomin {
	0%   { -webkit-transform: scale(0.5); }
	100% { -webkit-transform: scale(1.0); }
}
@-webkit-keyframes pushin {
	0%   { -webkit-transform: scale(1.0); }
	100% { -webkit-transform: scale(1.3); }
}
@-webkit-keyframes shift-left {
	0%   { -webkit-transform: translateX(20px); }
	100% { -webkit-transform: translateX(0px); }
}
@-webkit-keyframes up-n-down {
	0%   { -webkit-transform: translateY(-5px); }
	100% { -webkit-transform: translateY(15px);  }
}
@-webkit-keyframes grow-n-shrink {
	0%   { -webkit-transform: scale(1.2); }
	100% { -webkit-transform: scale(1);   }
}

