$brand-color: rgb(168, 86, 239);
$brand-color: rgb(76, 214, 188);
$brand-color: #f5263a; // brilliant red
$brand-color: #f3d02c;
$brand-color: #98c4b4;
$brand-color: #19cf8c;
$brand-color: #fec147;
$brand-color: #8A67FF;
$brand-color: #2fd9bc;
$brand-color: #00deb1;
$brand-color: #f7d159;
$brand-color: #07d159; // spotify
$brand-color: #fc5253; // bright red
// fg #f64028 - bg #e1e1dc

$text-color: #373737;


$blue: rgb(75, 181, 234); // blue
$aqua: rgb(77, 214, 189); // torquois
$tomatoe: rgb(250, 113, 94); // tomatoe
$mustard: rgb(238, 202, 70); // mustard
$red: rgb(253, 95, 101); // red

