.nav-icon {
    margin-top: 35px;
    background: #000;
    height: 2px!important;
    width: 24px;
    position: absolute;
    transform: translateY(-50%)
}

.nav-icon::after, .nav-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: all .25s ease;
}

.nav-icon::before {
    transform: translateY(-6px);
}

.nav-icon::after {
    transform: translateY(6px);
}

.nav-icon.opened::before {
    transform: rotate(45deg);
}

.nav-icon.opened::after {
    transform: rotate(-45deg);
}

.nav-icon:hover::before {
    transform: translateY(-8px)
}

.nav-icon:hover::after {
    transform: translateY(8px)
}
