---
layout: base
---
<article class="article" itemscope itemtype="http://schema.org/BlogPosting">

  <a href="/" class="logo">
    petro<br/>
    salema<b>.</b>
  </a>

  <header>
    <!-- div class="bg" style="background-image: url({{ page.cover }})"></div -->
    <br/>
    <canvas data-color="rgba(0,0,0,0.1)"></canvas>
    <div style="z-index: 9">
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <div class="lead">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
        {% if page.author %}
          &middot; <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        {% endif %}
        {% if page.summary %}
        <b> &middot; </b><span>{{ page.summary }}</span>
        {% endif %}
      </div>
    </div>
  </header>

  <section itemprop="articleBody">{{ content }}</section>

</article>

<div class="article-footer">
  Got something on your mind?<br/>
  <a href="/contact">Let's talk<b>.</b></a>
</div>

